n8n-workflows/03-capi-conversion-tracking.json
{
  "name": "全行銷 - CAPI 轉換回傳",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "purchase-capi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: 購買完成",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// 準備 CAPI 資料\nconst input = $input.first().json;\nconst now = Math.floor(Date.now() / 1000);\n\n// Hash email for privacy\nconst encoder = new TextEncoder();\nconst emailData = encoder.encode(input.user_email?.toLowerCase().trim() || '');\nconst hashBuffer = await crypto.subtle.digest('SHA-256', emailData);\nconst hashArray = Array.from(new Uint8Array(hashBuffer));\nconst emailHash = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');\n\nreturn [{ json: {\n  order_id: input.order_id,\n  order_number: input.order_number,\n  total_amount: input.total_amount,\n  currency: input.currency || 'TWD',\n  user_email: input.user_email,\n  email_hash: emailHash,\n  fbclid: input.fbclid || null,\n  gclid: input.gclid || null,\n  ttclid: input.ttclid || null,\n  anonymous_id: input.anonymous_id,\n  event_time: now,\n  has_fb: !!input.fbclid,\n  has_google: !!input.gclid,\n  has_tiktok: !!input.ttclid\n}}];"
      },
      "id": "prepare-data",
      "name": "準備 CAPI 資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.has_fb}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-fb",
      "name": "有 fbclid？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.has_google}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-google",
      "name": "有 gclid？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.has_tiktok}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-tiktok",
      "name": "有 ttclid？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{$env.FB_PIXEL_ID}}/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_token", "value": "={{$env.FB_CAPI_TOKEN}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [{\n    \"event_name\": \"Purchase\",\n    \"event_time\": {{$json.event_time}},\n    \"event_id\": \"purchase_{{$json.order_number}}\",\n    \"event_source_url\": \"https://quan-marketing.pages.dev/checkout/\",\n    \"action_source\": \"website\",\n    \"user_data\": {\n      \"em\": [\"{{$json.email_hash}}\"],\n      \"fbc\": \"fb.1.{{$json.event_time}}.{{$json.fbclid}}\",\n      \"external_id\": [\"{{$json.anonymous_id}}\"]\n    },\n    \"custom_data\": {\n      \"currency\": \"{{$json.currency}}\",\n      \"value\": {{$json.total_amount}},\n      \"order_id\": \"{{$json.order_number}}\"\n    }\n  }]\n}",
        "options": {}
      },
      "id": "fb-capi",
      "name": "Facebook CAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 50],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.google-analytics.com/mp/collect?measurement_id={{$env.GA_MEASUREMENT_ID}}&api_secret={{$env.GA_API_SECRET}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{$json.anonymous_id}}\",\n  \"events\": [{\n    \"name\": \"purchase\",\n    \"params\": {\n      \"transaction_id\": \"{{$json.order_number}}\",\n      \"value\": {{$json.total_amount}},\n      \"currency\": \"{{$json.currency}}\",\n      \"items\": []\n    }\n  }]\n}",
        "options": {}
      },
      "id": "google-mp",
      "name": "Google Measurement Protocol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://business-api.tiktok.com/open_api/v1.3/event/track/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Access-Token", "value": "={{$env.TIKTOK_ACCESS_TOKEN}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pixel_code\": \"{{$env.TIKTOK_PIXEL_ID}}\",\n  \"event\": \"CompletePayment\",\n  \"event_id\": \"purchase_{{$json.order_number}}\",\n  \"timestamp\": \"{{new Date().toISOString()}}\",\n  \"context\": {\n    \"user\": {\n      \"external_id\": \"{{$json.anonymous_id}}\",\n      \"email\": \"{{$json.email_hash}}\"\n    },\n    \"ad\": {\n      \"callback\": \"{{$json.ttclid}}\"\n    }\n  },\n  \"properties\": {\n    \"currency\": \"{{$json.currency}}\",\n    \"value\": {{$json.total_amount}},\n    \"order_id\": \"{{$json.order_number}}\"\n  }\n}",
        "options": {}
      },
      "id": "tiktok-events",
      "name": "TikTok Events API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/api/webhooks/n8n/capi-status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "order_id", "value": "={{$('準備 CAPI 資料').first().json.order_id}}" },
            { "name": "platform", "value": "facebook" },
            { "name": "success", "value": "={{!$json.error}}" }
          ]
        },
        "options": {}
      },
      "id": "update-fb-status",
      "name": "更新 FB CAPI 狀態",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/api/webhooks/n8n/capi-status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "order_id", "value": "={{$('準備 CAPI 資料').first().json.order_id}}" },
            { "name": "platform", "value": "google" },
            { "name": "success", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "update-google-status",
      "name": "更新 Google CAPI 狀態",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/api/webhooks/n8n/capi-status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "order_id", "value": "={{$('準備 CAPI 資料').first().json.order_id}}" },
            { "name": "platform", "value": "tiktok" },
            { "name": "success", "value": "={{!$json.error}}" }
          ]
        },
        "options": {}
      },
      "id": "update-tiktok-status",
      "name": "更新 TikTok CAPI 狀態",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"CAPI events dispatched\"}"
      },
      "id": "respond",
      "name": "回應 Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 500]
    }
  ],
  "connections": {
    "Webhook: 購買完成": {
      "main": [
        [
          { "node": "準備 CAPI 資料", "type": "main", "index": 0 },
          { "node": "回應 Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "準備 CAPI 資料": {
      "main": [
        [
          { "node": "有 fbclid？", "type": "main", "index": 0 },
          { "node": "有 gclid？", "type": "main", "index": 0 },
          { "node": "有 ttclid？", "type": "main", "index": 0 }
        ]
      ]
    },
    "有 fbclid？": {
      "main": [
        [{ "node": "Facebook CAPI", "type": "main", "index": 0 }],
        []
      ]
    },
    "有 gclid？": {
      "main": [
        [{ "node": "Google Measurement Protocol", "type": "main", "index": 0 }],
        []
      ]
    },
    "有 ttclid？": {
      "main": [
        [{ "node": "TikTok Events API", "type": "main", "index": 0 }],
        []
      ]
    },
    "Facebook CAPI": {
      "main": [
        [{ "node": "更新 FB CAPI 狀態", "type": "main", "index": 0 }]
      ]
    },
    "Google Measurement Protocol": {
      "main": [
        [{ "node": "更新 Google CAPI 狀態", "type": "main", "index": 0 }]
      ]
    },
    "TikTok Events API": {
      "main": [
        [{ "node": "更新 TikTok CAPI 狀態", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "全行銷" },
    { "name": "CAPI" },
    { "name": "廣告追蹤" }
  ]
}
